Nav {
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: black;
  z-index: 50;
  justify-content: space-between;
}

.black {
  color: black;
}

Footer {
  width: 100%;
  height: 15vh;
  background-color: #1c1c1c;
  bottom: 0;
}

.logo {
  margin-top: 5px;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 5px;
  cursor: pointer;
}

.test {
  display: inline-block;
  flex-direction: column-reverse;
  margin-top: 5rem;
}

.card {
  width: 100%;
  height: 100vh;
  background-color: azure;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.flower {
  background-image: url("../static/flower_blur.png");
  background-size: cover;
}

.phone {
  height: 50em;
}

.phone img {
  bottom: 10%;
  z-index: 40;
  height: 750px;
  background-position: center;
}

.right {
  position: absolute;
  right: 0;
}

.left {
  left: 0;
}

.punchline {
  width: 50%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  overflow-wrap: break-word;
}

.deep-blue {
  background-color: black;
}

input[type="text"],
select,
textarea {
  outline: none;
  width: 100%;
  padding: 9px;
  margin-bottom: 16px;
  border: none;
  resize: none;
  background-color: #f1f1f1;
  border-bottom: solid gray !important;
}

input[type="text"]:hover,
select:hover,
textarea:hover {
  border-bottom: solid #add8e6 !important;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
  background-color: #f9f9f9;
  border-bottom: solid #3a9fbf !important;
}

.color-white {
  color: white;
}

.blue-btn {
  background-color: rgb(37, 150, 190);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.blue-btn:hover {
  cursor:pointer;
  background-color: rgb(98, 173, 201);
}


/* Animation css */

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

input[type="radio"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -ms-appearance: checkbox;
}

a {
  text-decoration: none;
}

.title {
  z-index: 0;
  text-align: center;
}

.title-container {
  padding-top: 1rem;
  width: 100%;
  display: table;
}

.model {
  margin-top: 28%;
  display: table;
  width: 100%;
}

.choice {
  display: block;
  width: 100%;
  border: 1px dotted grey;
  padding: 10px 14px;
  font-weight: 600;
  font-size: large;
  background-color: white;
  border-radius: 1%;
  margin-bottom: 12px;
}

.choice:hover {
  background-color: #f2f2f2;
  cursor: pointer;
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.wrapper-div {
  display: table-cell;
  vertical-align: middle;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 2 / 6 / 3;
}

.div3 {
  grid-area: 1 / 3 / 6 / 4;
  margin-left: 50px;
}

.selector {
  grid-area: selector;
  margin-top: 100px;
  background-color: rebeccapurple;
}

.link-nav {
  display: inline-block;
  width: 100px;
  color: white !important;
}

.shipping-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.1fr 1.7fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . form form form form form form . . . ."
    ". . form form form form form form preview preview preview ."
    ". . form form form form form form . . . .";
}

.preview {
  grid-area: preview;
  padding-top: 0% !important;
}

.info {
  border: 2px dotted gray;
  background-color: #fbfbfb;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-content: start;
}

.form {
  grid-area: form;
}

strong {
  font-weight: bold;
}

.ico_preview {
  height: 100px;
  display: inline-block;
}

.preview_text {
  display: block;
  margin-left: 5px !important;
  margin: 0px;
}

.prev_text_container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0px !important;
}
